In [53]:
import pandas as pd
PATH = "./names/"

In [54]:
years = [1900, 1950, 2000]
def top3(years):
    names_by_year = {}
    for year in years:
        names_by_year[year]= pd.read_csv(PATH + "yob{}.txt".format(year),
                                        names = ["Name", "Gender", "Count"])
    names_all = pd.concat(names_by_year, names=["Year", "Pos"])

In [55]:
    name_dynamics = names_all.groupby("Name").sum().sort_values(by="Count", ascending=False)

In [56]:
    name_dynamics.head(3)

         Count
Name
James   111822
John    109613
Robert  101396

In [57]:
    gender_dynamics = names_all.groupby([names_all.index.get_level_values(0), "Gender"]).sum()

In [58]:
    gender_dynamics.head(10)

               Count
Year Gender
1900 F        299822
     M        150490
1950 F       1713450
     M       1791474
2000 F       1814738
     M       1962556